
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



    body {
        background-color: rgba(252, 252, 254, 1)    ;
        font-family: 'Kanit', sans-serif;
    }




.tracker{
    position: relative;
    background: red;
}